/* Media Query cho màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li a {
        font-size: 0.9em;
        padding: 10px;
    }
    nav .hiden_menu {
        top: 14%;
        right: 5px;
        position: fixed;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    header .user {
        right: 0;
        padding-right: 0;
    }
    .content {
        left: 0;
        width: 100%;
        padding: 10px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    .footer_light h4 {
        text-align: center;
    }
    header, .footer {
        flex-wrap: wrap;
    }
    .footer, .contact {
        flex-direction: column;
        align-items: center;
    }
    nav {
        width: 100%;
        height: 10%;
    }
    nav .users{
        margin-bottom: 0;
    }
    nav .users img{
        width: 20%;
        height: 20%;
    }
    nav .users ul{
       margin-top: 7%;
       margin-left: 4%;
       font-size: 2rem;
    }
    .table_data{
        overflow-y: hidden;
    }
}

/* Media Query cho màn hình nhỏ hơn 576px */
@media (max-width: 576px) {
    nav ul li a {
        font-size: 0.8em;
        padding: 8px;
    }
    header .user img {
        width: 40px;
    }
    .content {
        padding: 5px;
    }
    header, .footer {
        flex-wrap: wrap;
    }
    .footer, .contact {
        flex-direction: column;
        align-items: center;
    }
    nav {
        width: 100%;
        height: 10%;
    }
    nav .users{
        margin-bottom: 0;
    }
    nav .users img{
        width: 20%;
        height: 20%;
    }
    nav .users ul{
       margin-top: 7%;
       margin-left: 4%;
       font-size: 2rem;
    }
}
